.main_title {
    margin: 0;
    padding: 0;
}
.page-header {
    padding: 0;
}
.area_title {
    font-size: 1.6rem;
    padding:5px;
}
p {
    line-height: 1.8;
}
img.circle {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 7px solid #fff;
}
.center {
    text-align: center;
}
.portforio_area {
    width:100%;
}
.title_bar {
    /*border-left: 1px solid #ccc;*/
    border-bottom: 1px dotted #ddd;
    padding: 0 0 5px;
}
a img:hover {
    opacity: 0.9;
}
.link_button {
    text-align: center;
}
footer {
    text-align: center;
    margin: 15px 0;
}
